USE [Quanlythuvien_k235480106109]
GO
/****** Object:  StoredProcedure [dbo].[usp_TinhTongPhatDocGia]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[usp_TinhTongPhatDocGia]
GO
/****** Object:  StoredProcedure [dbo].[usp_ThemSach]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[usp_ThemSach]
GO
/****** Object:  StoredProcedure [dbo].[usp_GuiNhacNhoQuaHan_SetBased]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[usp_GuiNhacNhoQuaHan_SetBased]
GO
/****** Object:  StoredProcedure [dbo].[usp_GuiNhacNhoQuaHan_Cursor]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[usp_GuiNhacNhoQuaHan_Cursor]
GO
/****** Object:  StoredProcedure [dbo].[usp_GuiNhacNhoQuaHan]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[usp_GuiNhacNhoQuaHan]
GO
/****** Object:  StoredProcedure [dbo].[usp_BaoCaoMuonSach]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[usp_BaoCaoMuonSach]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDiemTinNhiem_Cursor]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP PROCEDURE [dbo].[sp_CapNhatDiemTinNhiem_Cursor]
GO
ALTER TABLE [dbo].[Sach] DROP CONSTRAINT [CK__Sach__SoLuong__656C112C]
GO
ALTER TABLE [dbo].[Sach] DROP CONSTRAINT [CK__Sach__NamXuatBan__6477ECF3]
GO
ALTER TABLE [dbo].[Sach] DROP CONSTRAINT [CK__Sach__GiaTien__66603565]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [CK_NgayTra_Sau_NgayMuon]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [CK_HanTra_Sau_NgayMuon]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [CK__MuonTra__TienPha__75A278F5]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [CK__DocGia__NgaySinh__6D0D32F4]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [CK__DocGia__GioiTinh__6E01572D]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [FK_MuonTra_Sach]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [FK_MuonTra_DocGia]
GO
ALTER TABLE [dbo].[Sach] DROP CONSTRAINT [DF__Sach__ConSauKhon__68487DD7]
GO
ALTER TABLE [dbo].[Sach] DROP CONSTRAINT [DF__Sach__NgayNhapKh__6754599E]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [DF__MuonTra__TienPha__74AE54BC]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [DF__MuonTra__TinhTra__73BA3083]
GO
ALTER TABLE [dbo].[MuonTra] DROP CONSTRAINT [DF__MuonTra__NgayMuo__72C60C4A]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [DF__DocGia__BiKhoa__3C54ED00]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [DF__DocGia__DiemTinN__3B60C8C7]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [DF__DocGia__SoSachDa__57A801BA]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [DF__DocGia__TongLanM__56B3DD81]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [DF__DocGia__TinhTran__6FE99F9F]
GO
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [DF__DocGia__NgayDang__6EF57B66]
GO
/****** Object:  Index [UQ__DocGia__A9D10534EC103015]    Script Date: 03/05/2026 07:27:50 CH ******/
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [UQ__DocGia__A9D10534EC103015]
GO
/****** Object:  Index [UQ__DocGia__0389B7BDC6785C79]    Script Date: 03/05/2026 07:27:50 CH ******/
ALTER TABLE [dbo].[DocGia] DROP CONSTRAINT [UQ__DocGia__0389B7BDC6785C79]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 03/05/2026 07:27:50 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocGia]') AND type in (N'U'))
DROP TABLE [dbo].[DocGia]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LaySachConTheoTheLoai]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP FUNCTION [dbo].[fn_LaySachConTheoTheLoai]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SachDangMuon]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP FUNCTION [dbo].[fn_SachDangMuon]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 03/05/2026 07:27:50 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MuonTra]') AND type in (N'U'))
DROP TABLE [dbo].[MuonTra]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 03/05/2026 07:27:50 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sach]') AND type in (N'U'))
DROP TABLE [dbo].[Sach]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XuatDocGiaa]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP FUNCTION [dbo].[fn_XuatDocGiaa]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhSoNgayQuaHan]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP FUNCTION [dbo].[fn_TinhSoNgayQuaHan]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDocGia]    Script Date: 03/05/2026 07:27:50 CH ******/
DROP FUNCTION [dbo].[fn_ThongKeDocGia]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDocGia]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_ThongKeDocGia]
(
    @MaMuon INT
)
RETURNS INT
AS
BEGIN
    DECLARE @NgayQuaHan INT;
    
    SELECT @NgayQuaHan = 
        CASE 
            WHEN NgayTraThucTe IS NULL AND GETDATE() > HanTra 
                THEN DATEDIFF(DAY, HanTra, GETDATE())
            WHEN NgayTraThucTe IS NOT NULL AND NgayTraThucTe > HanTra 
                THEN DATEDIFF(DAY, HanTra, NgayTraThucTe)
            ELSE 0 
        END
    FROM dbo.MuonTra
    WHERE MaMuon = @MaMuon;
    
    RETURN ISNULL(@NgayQuaHan, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhSoNgayQuaHan]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhSoNgayQuaHan]
(
    @MaMuon INT
)
RETURNS INT
AS
BEGIN
    DECLARE @NgayQuaHan INT;
    
    SELECT @NgayQuaHan = 
        CASE 
            WHEN NgayTraThucTe IS NULL AND GETDATE() > HanTra 
                THEN DATEDIFF(DAY, HanTra, GETDATE())
            WHEN NgayTraThucTe IS NOT NULL AND NgayTraThucTe > HanTra 
                THEN DATEDIFF(DAY, HanTra, NgayTraThucTe)
            ELSE 0 
        END
    FROM dbo.MuonTra
    WHERE MaMuon = @MaMuon;
    
    RETURN ISNULL(@NgayQuaHan, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XuatDocGiaa]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_XuatDocGiaa]
(
    @MaMuon INT
)
RETURNS INT
AS
BEGIN
    DECLARE @NgayQuaHan INT;
    
    SELECT @NgayQuaHan = 
        CASE 
            WHEN NgayTraThucTe IS NULL AND GETDATE() > HanTra 
                THEN DATEDIFF(DAY, HanTra, GETDATE())
            WHEN NgayTraThucTe IS NOT NULL AND NgayTraThucTe > HanTra 
                THEN DATEDIFF(DAY, HanTra, NgayTraThucTe)
            ELSE 0 
        END
    FROM dbo.MuonTra
    WHERE MaMuon = @MaMuon;
    
    RETURN ISNULL(@NgayQuaHan, 0);
END;
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[TacGia] [nvarchar](100) NOT NULL,
	[NhaXuatBan] [nvarchar](150) NULL,
	[NamXuatBan] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTien] [decimal](12, 3) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[NgayNhapKho] [datetime] NULL,
	[ConSauKhong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MaMuon] [int] NOT NULL,
	[MaDocGia] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[HanTra] [datetime] NOT NULL,
	[NgayTraThucTe] [datetime] NULL,
	[TinhTrangSachKhiMuon] [nvarchar](50) NULL,
	[TinhTrangSachKhiTra] [nvarchar](50) NULL,
	[TienPhat] [decimal](10, 3) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SachDangMuon]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_SachDangMuon]
(
    @MaDocGia INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        mt.[MaMuon],
        s.[MaSach],
        s.[TenSach],
        s.[TacGia],
        mt.[NgayMuon],
        mt.[HanTra],
        DATEDIFF(DAY, mt.[HanTra], GETDATE()) AS [SoNgayQuaHan]
    FROM [MuonTra] mt
    INNER JOIN [Sach] s ON mt.[MaSach] = s.[MaSach]
    WHERE mt.[MaDocGia] = @MaDocGia 
      AND mt.[NgayTraThucTe] IS NULL
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LaySachConTheoTheLoai]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_LaySachConTheoTheLoai]
(
    @TheLoai NVARCHAR(50)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        [MaSach],
        [TenSach],
        [TacGia],
        [GiaTien],
        [SoLuong]
    FROM [Sach]
    WHERE [ConSauKhong] = 1 
      AND [SoLuong] > 0
      AND ([TheLoai] = @TheLoai OR @TheLoai IS NULL)  
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayDangKy] [datetime] NULL,
	[TinhTrang] [bit] NULL,
	[TongLanMuon] [int] NULL,
	[SoSachDangMuon] [int] NULL,
	[DiemTinNhiem] [int] NULL,
	[HangThanhVien]  AS (case when [DiemTinNhiem]>=(200) then N'Kim Cương' when [DiemTinNhiem]>=(150) then N'Vàng' else N'Thường' end) PERSISTED NOT NULL,
	[BiKhoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [NgayDangKy], [TinhTrang], [TongLanMuon], [SoSachDangMuon], [DiemTinNhiem], [BiKhoa]) VALUES (103, N'Trần Thị C', CAST(N'2003-08-20' AS Date), N'Nữ', N'0992963792', N'tranthiC83@email.com', NULL, CAST(N'2026-05-03T17:00:15.227' AS DateTime), 1, 555, 555, NULL, NULL)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [NgayDangKy], [TinhTrang], [TongLanMuon], [SoSachDangMuon], [DiemTinNhiem], [BiKhoa]) VALUES (1001, N'Nguyễn Văn AA', CAST(N'2003-03-01' AS Date), N'Nam', N'0864957396', N'nguyenvana11@Gmail.com', N'Tích Lương-Thái Nguyên', CAST(N'2026-05-03T19:08:56.923' AS DateTime), 1, 2, 2, 105, 0)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [NgayDangKy], [TinhTrang], [TongLanMuon], [SoSachDangMuon], [DiemTinNhiem], [BiKhoa]) VALUES (2002, N'Nguyễn Văn A', CAST(N'2000-01-01' AS Date), N'Nam', N'0357569863', N'Nguyenvana@gmail.com', N'Thái Nguyên', CAST(N'2026-05-03T17:18:49.007' AS DateTime), 1, 1, 1, NULL, NULL)
GO
INSERT [dbo].[MuonTra] ([MaMuon], [MaDocGia], [MaSach], [NgayMuon], [HanTra], [NgayTraThucTe], [TinhTrangSachKhiMuon], [TinhTrangSachKhiTra], [TienPhat], [GhiChu]) VALUES (103, 103, 3, CAST(N'2026-04-08T18:05:48.510' AS DateTime), CAST(N'2026-04-22T18:05:48.510' AS DateTime), NULL, N'Tốt', NULL, CAST(0.000 AS Decimal(10, 3)), NULL)
INSERT [dbo].[MuonTra] ([MaMuon], [MaDocGia], [MaSach], [NgayMuon], [HanTra], [NgayTraThucTe], [TinhTrangSachKhiMuon], [TinhTrangSachKhiTra], [TienPhat], [GhiChu]) VALUES (1001, 1001, 1, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-01-10T00:00:00.000' AS DateTime), CAST(N'2026-01-08T00:00:00.000' AS DateTime), N'Mượn', N'Trả đúng', CAST(0.000 AS Decimal(10, 3)), NULL)
INSERT [dbo].[MuonTra] ([MaMuon], [MaDocGia], [MaSach], [NgayMuon], [HanTra], [NgayTraThucTe], [TinhTrangSachKhiMuon], [TinhTrangSachKhiTra], [TienPhat], [GhiChu]) VALUES (1103, 103, 1, CAST(N'2026-05-03T17:00:15.233' AS DateTime), CAST(N'2026-05-17T17:00:15.233' AS DateTime), NULL, N'Tốt', NULL, CAST(0.000 AS Decimal(10, 3)), N'Tạo tự động khi đăng ký thẻ')
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoLuong], [GiaTien], [TheLoai], [NgayNhapKho], [ConSauKhong]) VALUES (1, N'Tuổi Trẻ Đáng Giá Bao Nhiêu', N'Rosie Nguyễn', N'Văn Học Việt Nam', NULL, 8, CAST(199.000 AS Decimal(12, 3)), N'Sách Văn Học', CAST(N'2020-06-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoLuong], [GiaTien], [TheLoai], [NgayNhapKho], [ConSauKhong]) VALUES (2, N'Lập trình C++', N'Phạm Văn Ất', N'Bộ giáo dục Việt Nam', NULL, 10, CAST(149.000 AS Decimal(12, 3)), N'Lập trình', CAST(N'2026-05-03T16:35:39.457' AS DateTime), 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoLuong], [GiaTien], [TheLoai], [NgayNhapKho], [ConSauKhong]) VALUES (3, N'Python cơ bản', N'Guido', N'Bộ giáo dục Việt Nam', NULL, 9, CAST(200.000 AS Decimal(12, 3)), N'Lập trình', CAST(N'2026-05-03T16:35:39.457' AS DateTime), 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DocGia__0389B7BDC6785C79]    Script Date: 03/05/2026 07:27:50 CH ******/
ALTER TABLE [dbo].[DocGia] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DocGia__A9D10534EC103015]    Script Date: 03/05/2026 07:27:50 CH ******/
ALTER TABLE [dbo].[DocGia] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [TongLanMuon]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [SoSachDangMuon]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((100)) FOR [DiemTinNhiem]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [BiKhoa]
GO
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT (N'Tốt') FOR [TinhTrangSachKhiMuon]
GO
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT ((0)) FOR [TienPhat]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT (getdate()) FOR [NgayNhapKho]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((1)) FOR [ConSauKhong]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_DocGia]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_Sach]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD CHECK  (([NgaySinh]<=getdate()))
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD CHECK  (([TienPhat]>=(0)))
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [CK_HanTra_Sau_NgayMuon] CHECK  (([HanTra]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [CK_HanTra_Sau_NgayMuon]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [CK_NgayTra_Sau_NgayMuon] CHECK  (([NgayTraThucTe] IS NULL OR [NgayTraThucTe]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [CK_NgayTra_Sau_NgayMuon]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([GiaTien]>=(0)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([NamXuatBan]>=(1900) AND [NamXuatBan]<=(2100)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDiemTinNhiem_Cursor]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_CapNhatDiemTinNhiem_Cursor]
    @MaDocGiaCanCapNhat INT = NULL  -- NULL = cập nhật tất cả
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Biến lưu trạng thái
    DECLARE @MaDocGia INT, @MaMuon INT, @HanTra DATETIME, 
            @NgayTraThucTe DATETIME, @TinhTrangSachKhiTra NVARCHAR(50),
            @SoNgayQuaHan INT, @DiemThayDoi INT, @DiemHienTai INT,
            @TenDocGia NVARCHAR(100);
    
    -- Bảng tạm lưu kết quả để hiển thị
    DECLARE @KetQua TABLE (
        MaDocGia INT,
        TenDocGia NVARCHAR(100),
        SoLanCapNhat INT,
        DiemCuoiCung INT,
        HangThanhVien NVARCHAR(50),
        BiKhoa BIT
    );
    
    -- Cursor OUTER: Duyệt từng độc giả
    DECLARE cur_DocGia CURSOR FOR
    SELECT MaDocGia, HoTen 
    FROM dbo.DocGia 
    WHERE (@MaDocGiaCanCapNhat IS NULL OR MaDocGia = @MaDocGiaCanCapNhat)
    ORDER BY MaDocGia;
    
    OPEN cur_DocGia;
    FETCH NEXT FROM cur_DocGia INTO @MaDocGia, @TenDocGia;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Lấy điểm hiện tại của độc giả này
        SELECT @DiemHienTai = ISNULL(DiemTinNhiem, 100)
        FROM dbo.DocGia WHERE MaDocGia = @MaDocGia;
        
        -- Reset về 100 trước khi tính lại từ đầu
        UPDATE dbo.DocGia SET DiemTinNhiem = 100, BiKhoa = 0
        WHERE MaDocGia = @MaDocGia;
        
        -- Cursor INNER: Duyệt lịch sử mượn theo thứ tự thời gian
        DECLARE cur_LichSuMuon CURSOR FOR
        SELECT MaMuon, HanTra, NgayTraThucTe, TinhTrangSachKhiTra
        FROM dbo.MuonTra
        WHERE MaDocGia = @MaDocGia 
          AND NgayTraThucTe IS NOT NULL  -- Chỉ tính phiếu đã trả
        ORDER BY NgayTraThucTe ASC;  -- QUAN TRỌNG: Theo thứ tự thời gian
        
        OPEN cur_LichSuMuon;
        FETCH NEXT FROM cur_LichSuMuon INTO @MaMuon, @HanTra, @NgayTraThucTe, @TinhTrangSachKhiTra;
        
        DECLARE @SoLanXuLy INT = 0;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Tính số ngày quá hạn
            SET @SoNgayQuaHan = DATEDIFF(DAY, @HanTra, @NgayTraThucTe);
            
            -- Tính điểm thay đổi dựa trên tình trạng
            IF @TinhTrangSachKhiTra = N'Mất sách' OR @TinhTrangSachKhiTra = N'Hỏng'
                SET @DiemThayDoi = -50;
            ELSE IF @SoNgayQuaHan <= 0
                SET @DiemThayDoi = 5;  
            ELSE IF @SoNgayQuaHan BETWEEN 1 AND 3
                SET @DiemThayDoi = -10;
            ELSE IF @SoNgayQuaHan BETWEEN 4 AND 7
                SET @DiemThayDoi = -20;
            ELSE
                SET @DiemThayDoi = -30;  
            
            -- CẬP NHẬT ĐIỂM TÍCH LŨY 
            SET @DiemHienTai = @DiemHienTai + @DiemThayDoi;
            
            -- Kiểm tra có bị khóa không
            DECLARE @BiKhoaMoi BIT = CASE WHEN @DiemHienTai < 0 THEN 1 ELSE 0 END;
            
            -- Cập nhật vào database
            UPDATE dbo.DocGia 
            SET DiemTinNhiem = @DiemHienTai,
                BiKhoa = @BiKhoaMoi
            WHERE MaDocGia = @MaDocGia;
            
            SET @SoLanXuLy = @SoLanXuLy + 1;
            
            FETCH NEXT FROM cur_LichSuMuon INTO @MaMuon, @HanTra, @NgayTraThucTe, @TinhTrangSachKhiTra;
        END
        
        CLOSE cur_LichSuMuon;
        DEALLOCATE cur_LichSuMuon;
        
        -- Lưu kết quả vào bảng tạm
        INSERT INTO @KetQua
        SELECT MaDocGia, HoTen, @SoLanXuLy, DiemTinNhiem,
               CASE 
                   WHEN DiemTinNhiem >= 200 THEN N'Kim Cương'
                   WHEN DiemTinNhiem >= 150 THEN N'Vàng'
                   ELSE N'Thường'
               END,
               BiKhoa
        FROM dbo.DocGia
        WHERE MaDocGia = @MaDocGia;
        
        FETCH NEXT FROM cur_DocGia INTO @MaDocGia, @TenDocGia;
    END
    
    CLOSE cur_DocGia;
    DEALLOCATE cur_DocGia;
    
    -- Hiển thị kết quả
    SELECT * FROM @KetQua ORDER BY DiemCuoiCung DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_BaoCaoMuonSach]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Join 3 bảng, trả về báo cáo mượn sách đầy đủ thông tin
CREATE PROCEDURE [dbo].[usp_BaoCaoMuonSach]
    @TuNgay DATETIME = NULL,
    @DenNgay DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        mt.[MaMuon],
        dg.[HoTen] AS [TenDocGia],
        s.[TenSach],
        s.[TacGia],
        mt.[NgayMuon],
        mt.[HanTra],
        ISNULL(CONVERT(NVARCHAR(50), mt.[NgayTraThucTe], 23), N'Chưa trả') AS [NgayTra],
        CASE 
            WHEN mt.[NgayTraThucTe] IS NULL AND GETDATE() > mt.[HanTra] 
            THEN N'Quá hạn'
            WHEN mt.[NgayTraThucTe] IS NULL THEN N'Đang mượn'
            WHEN mt.[NgayTraThucTe] > mt.[HanTra] THEN N'Trả muộn'
            ELSE N'Trả đúng hạn'
        END AS [TrangThai],
        mt.[TienPhat]
    FROM [MuonTra] mt
    INNER JOIN [DocGia] dg ON mt.[MaDocGia] = dg.[MaDocGia]
    INNER JOIN [Sach] s ON mt.[MaSach] = s.[MaSach]
    WHERE (@TuNgay IS NULL OR mt.[NgayMuon] >= @TuNgay)
      AND (@DenNgay IS NULL OR mt.[NgayMuon] <= @DenNgay)
    ORDER BY mt.[NgayMuon] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GuiNhacNhoQuaHan]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Duyệt từng lượt mượn quá hạn chưa trả "gửi email" 

CREATE PROCEDURE [dbo].[usp_GuiNhacNhoQuaHan]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaMuon INT, @HoTen NVARCHAR(100), @TenSach NVARCHAR(255), 
            @HanTra DATETIME, @SoNgayTre INT;
    
    -- Khai báo CURSOR
    DECLARE cur_QuaHan CURSOR LOCAL FORWARD_ONLY READ_ONLY
    FOR
    SELECT 
        mt.[MaMuon], dg.[HoTen], s.[TenSach], mt.[HanTra],
        DATEDIFF(DAY, mt.[HanTra], GETDATE()) AS [SoNgayTre]
    FROM [MuonTra] mt
    INNER JOIN [DocGia] dg ON mt.[MaDocGia] = dg.[MaDocGia]
    INNER JOIN [Sach] s ON mt.[MaSach] = s.[MaSach]
    WHERE mt.[NgayTraThucTe] IS NULL  -- Chưa trả
      AND mt.[HanTra] < GETDATE();     -- Và quá hạn
    
    OPEN cur_QuaHan;
    
    FETCH NEXT FROM cur_QuaHan INTO @MaMuon, @HoTen, @TenSach, @HanTra, @SoNgayTre;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- "Gửi email" - thực tế là PRINT hoặc ghi log
        PRINT N' [NHẮC NHỞ] Mã mượn: ' + CAST(@MaMuon AS VARCHAR) +
              N' | Độc giả: ' + @HoTen +
              N' | Sách: ' + @TenSach +
              N' | Quá hạn ' + CAST(@SoNgayTre AS VARCHAR) + N' ngày' +
              N' | Hạn trả: ' + CONVERT(VARCHAR, @HanTra, 103);
        
        -- update bảng Log, gọi API gửi email thật...
        
        FETCH NEXT FROM cur_QuaHan INTO @MaMuon, @HoTen, @TenSach, @HanTra, @SoNgayTre;
    END
    
    CLOSE cur_QuaHan;
    DEALLOCATE cur_QuaHan;
    
    PRINT N'✓ Hoàn thành gửi nhắc nhở quá hạn';
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GuiNhacNhoQuaHan_Cursor]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GuiNhacNhoQuaHan_Cursor]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaMuon INT, @HoTen NVARCHAR(100), @TenSach NVARCHAR(255);
    DECLARE @HanTra DATETIME, @SoNgayTre INT;
    DECLARE @ThongBao NVARCHAR(500);
    
    -- Khai báo CURSOR
    DECLARE cur_QuaHan CURSOR LOCAL FORWARD_ONLY READ_ONLY
    FOR
    SELECT 
        mt.[MaMuon], 
        dg.[HoTen], 
        s.[TenSach], 
        mt.[HanTra],
        DATEDIFF(DAY, mt.[HanTra], GETDATE()) AS [SoNgayTre]
    FROM [MuonTra] mt
    INNER JOIN [DocGia] dg ON mt.[MaDocGia] = dg.[MaDocGia]
    INNER JOIN [Sach] s ON mt.[MaSach] = s.[MaSach]
    WHERE mt.[NgayTraThucTe] IS NULL  -- Chưa trả
      AND mt.[HanTra] < GETDATE();     -- Quá hạn
    
    OPEN cur_QuaHan;
    
    FETCH NEXT FROM cur_QuaHan INTO @MaMuon, @HoTen, @TenSach, @HanTra, @SoNgayTre;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Xử lý từng bản ghi
        SET @ThongBao = N'📧 [NHẮC NHỞ] Mã mượn: ' + CAST(@MaMuon AS VARCHAR) +
                       N' | Độc giả: ' + @HoTen +
                       N' | Sách: ' + @TenSach +
                       N' | Quá hạn ' + CAST(@SoNgayTre AS VARCHAR) + N' ngày' +
                       N' | Hạn trả: ' + CONVERT(VARCHAR, @HanTra, 103);
        
        PRINT @ThongBao;
        
        -- Ở đây có thể gọi API gửi email thật
        
        FETCH NEXT FROM cur_QuaHan INTO @MaMuon, @HoTen, @TenSach, @HanTra, @SoNgayTre;
    END
    
    CLOSE cur_QuaHan;
    DEALLOCATE cur_QuaHan;
    
    PRINT N'✓ Hoàn thành gửi nhắc nhở quá hạn';
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_GuiNhacNhoQuaHan_SetBased]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GuiNhacNhoQuaHan_SetBased]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- SET-BASED: Xử lý tất cả cùng lúc
    SELECT 
        N'[NHẮC NHỜ] Mã mượn: ' + CAST(mt.[MaMuon] AS VARCHAR) +
        N' | Độc giả: ' + dg.[HoTen] +
        N' | Sách: ' + s.[TenSach] +
        N' | Quá hạn ' + CAST(DATEDIFF(DAY, mt.[HanTra], GETDATE()) AS VARCHAR) + N' ngày' +
        N' | Hạn trả: ' + CONVERT(VARCHAR, mt.[HanTra], 103) AS [ThongBao]
    FROM [MuonTra] mt
    INNER JOIN [DocGia] dg ON mt.[MaDocGia] = dg.[MaDocGia]
    INNER JOIN [Sach] s ON mt.[MaSach] = s.[MaSach]
    WHERE mt.[NgayTraThucTe] IS NULL 
      AND mt.[HanTra] < GETDATE()
    ORDER BY DATEDIFF(DAY, mt.[HanTra], GETDATE()) DESC;
    
    PRINT N'✓ Hoàn thành (SET-BASED)';
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_ThemSach]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thêm sách mới, kiểm tra: tên không trùng, năm/năm hợp lệ, số lượng ≥ 0
CREATE PROCEDURE [dbo].[usp_ThemSach]
    @MaSach INT,
    @TenSach NVARCHAR(255),
    @TacGia NVARCHAR(100),
    @NhaXuatBan NVARCHAR(150) = NULL,
    @NamXuatBan INT,
    @SoLuong INT,
    @GiaTien DECIMAL(12,3),
    @TheLoai NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra mã sách đã tồn tại
    IF EXISTS (SELECT 1 FROM [Sach] WHERE [MaSach] = @MaSach)
    BEGIN
        RAISERROR(N'Lỗi: Mã sách %d đã tồn tại!', 16, 1, @MaSach);
        RETURN -1;
    END
    
    -- Kiểm tra năm xuất bản
    IF @NamXuatBan < 1900 OR @NamXuatBan > 2100
    BEGIN
        RAISERROR(N'Lỗi: Năm xuất bản không hợp lệ (1900-2100)!', 16, 1);
        RETURN -2;
    END
    
    -- Kiểm tra số lượng và giá
    IF @SoLuong < 0 OR @GiaTien < 0
    BEGIN
        RAISERROR(N'Lỗi: Số lượng và giá tiền phải ≥ 0!', 16, 1);
        RETURN -3;
    END
    
    -- Insert thành công
    INSERT INTO [Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], 
                        [NamXuatBan], [SoLuong], [GiaTien], [TheLoai])
    VALUES (@MaSach, @TenSach, @TacGia, @NhaXuatBan, 
            @NamXuatBan, @SoLuong, @GiaTien, @TheLoai);
    
    PRINT N'✓ Thêm sách thành công: ' + @TenSach;
    RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_TinhTongPhatDocGia]    Script Date: 03/05/2026 07:27:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tính tổng tiền phạt, trả về qua tham số OUTPUT
CREATE PROCEDURE [dbo].[usp_TinhTongPhatDocGia]
    @MaDocGia INT,
    @TongPhat DECIMAL(12,3) OUTPUT,
    @SoLuotTre INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        @TongPhat = ISNULL(SUM([TienPhat]), 0),
        @SoLuotTre = SUM(CASE WHEN [TienPhat] > 0 THEN 1 ELSE 0 END)
    FROM [MuonTra]
    WHERE [MaDocGia] = @MaDocGia;
    
    PRINT N'Tổng phạt: ' + CAST(@TongPhat AS VARCHAR) + 
          N' VNĐ, Số lượt trễ: ' + CAST(@SoLuotTre AS VARCHAR);
END;
GO
